$border-radius: 10px;

.card {
  width: rem(327);
  border-radius: $border-radius;
  background-color: white;

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    width: rem(732);
    height: rem(284);
  }
}

.card__picture {
  img {
    width: rem(327);
    height: rem(200);
    object-fit: cover;
    border-radius: $border-radius $border-radius 0 0;

    @media (min-width: 1024px) {
      width: rem(285);
      height: 100%;
      border-radius: $border-radius 0 0 $border-radius;
    }
  }
}

.card__content {
  position: relative;
  padding-top: rem(40);
  padding-left: rem(32);
  padding-right: rem(32);
  padding-bottom: rem(20);

  @media (min-width: 1024px) {
    padding-top: rem(38);
    padding-left: rem(40);
    padding-right: rem(40);
    padding-bottom: rem(32);
  }
}

.card__header {
  margin-bottom: rem(20);
  h1 {
    font-size: rem(15);

    @media (min-width: 1024px) {
      font-size: rem(20);
    }
  }
}

.card__body {
  p {
    font-size: rem(14);
    line-height: 1.5;
    color: var(--dark-blue);

    @media (min-width: 1024px) {
      font-size: rem(13);
    }
  }
}

.card__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: rem(35);
  height: rem(64);

  .about {
    width: 100%;
    height: rem(64);
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .about__image {
    width: rem(40);
    height: rem(40);
    border-radius: 50%;
    margin-right: rem(16);
  }

  .about__author {
    font-weight: 700;
    time {
      color: var(--dark-blue);
      font-weight: 500;
      display: block;
    }
  }

  .about__button {
    width: rem(32);
    height: rem(32);
    margin-left: rem(60);
    border-radius: 50%;
    border: none;
    background-color: var(--light-gray-blue);
    cursor: pointer;
    z-index: 1;

    @media (min-width: 1024px) {
      margin-left: rem(160);
    }

    i {
      color: var(--dark-blue);
    }

    &:hover {
      background-color: var(--gray-blue);

      i {
        color: var(--light-gray-blue);
      }
    }
  }
}

.card__share {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: rem(64);
  padding-left: rem(32);
  padding-right: rem(32);
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--dark-gray-blue);
  border-radius: 0 0 $border-radius $border-radius;
  visibility: hidden;
  transition: opacity 0.3s ease;
  opacity: 0;

  @media (min-width: 1024px) {
    width: rem(248);
    height: rem(55);
    transform: translate(16.5rem, -5rem);
    border-radius: $border-radius;

    &:after {
      content: "";
      position: absolute;
      border: rem(12) solid;
      border-color: var(--dark-gray-blue) transparent transparent;
      top: 3.4rem;
      left: 6.8rem;
    }
  }
}

.card__share__title {
  font-weight: 500;
  color: var(--dark-blue);
  letter-spacing: rem(6);
  margin-right: rem(10);
}

.card__share__list {
  display: flex;
  flex-direction: row;

  > * + * {
    margin-left: rem(14);
  }
}

.card__share__item {
  font-size: rem(20);
  i {
    color: var(--light-gray-blue);
  }
}

.show {
  visibility: visible;
  opacity: 1;
}
